@using KeyFactor.Carbone.Configuration.Localization
@using Microsoft.Extensions.Localization
@model KeyFactor.Carbone.Configuration.Products.PersistableProductDto
@inject IStringLocalizer<ConfigurationResource> L
@{
}
<abp-card-body>
    <abp-row>
        <abp-column size-md="_12">
            <abp-tabs>
                <abp-tab title="Details">
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-input asp-for="@Model.Name" />
                        </abp-column>
                        <abp-column>
                            <abp-input asp-for="@Model.Number" />
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-input asp-for="@Model.ValidFromDate" />
                        </abp-column>
                        <abp-column size-md="_6">
                            <abp-input asp-for="@Model.ValidToDate" />
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-input asp-for="@Model.DecimalPlaces" />
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_12">
                            <div class="form-group">
                                <label>@L["Product_Description"].Value</label>
                                <textarea asp-for="@Model.Description" class="form-control" rows="4"></textarea>
                            </div>
                        </abp-column>
                    </abp-row>
                </abp-tab>
                <abp-tab title="Field Service">
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-card>
                                <abp-card-header>
                                    General
                                </abp-card-header>
                                <abp-card-body>
                                    <abp-row>
                                        <abp-column size-md="_12">
                                            <abp-select asp-for="@Model.FieldServiceProductType" />
                                        </abp-column>
                                    </abp-row>
                                    <abp-row>
                                        <abp-column size-md="_12">
                                            <abp-input asp-for="@Model.ConvertToCustomerAsset" />
                                        </abp-column>
                                    </abp-row>
                                </abp-card-body>
                            </abp-card>
                        </abp-column>
                        <abp-column size-md="_6">
                            <abp-card>
                                <abp-card-header>Accounting</abp-card-header>
                                <abp-card-body>
                                    <abp-row>
                                        <abp-column size-md="_12">
                                            <abp-input asp-for="@Model.Taxable" />
                                        </abp-column>
                                    </abp-row>
                                    <abp-row>
                                        <abp-column size-md="_12">
                                            <abp-input asp-for="@Model.CurrentCost" />
                                        </abp-column>
                                    </abp-row>
                                    <abp-row>
                                        <abp-column size-md="_12">
                                            <abp-input asp-for="@Model.StandardCost" />
                                        </abp-column>
                                    </abp-row>
                                </abp-card-body>
                            </abp-card>
                        </abp-column>
                    </abp-row>
                </abp-tab>
            </abp-tabs>
        </abp-column>
    </abp-row>
</abp-card-body>
<abp-input asp-for="@Model.ConcurrencyStamp" type="hidden"/>