@page
@using KeyFactor.Carbone.Configuration.Localization
@using Microsoft.Extensions.Localization
@model KeyFactor.Carbone.Configuration.Web.Pages.Configuration.Products.EditProductModel
@inject IStringLocalizer<ConfigurationResource> L
@{
    Layout = "_Layout";
    var properties = Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Properties.ToArray()));
}
@section scripts
{
    <script type="text/javascript" src="~/Pages/Products/FormProduct.js"></script>
    <script type="text/javascript">
        var properties = @properties;
    </script>
}
<form method="post" id="mainForm">
    <abp-input type="hidden" asp-for="@Model.Id" />
    <abp-card-body>
        <abp-row>
            <abp-column size-md="_12">
                <abp-tabs>
                    <abp-tab title="Details">
                        <abp-row>
                            <abp-column size-md="_6">
                                <abp-input asp-for="@Model.Input.Name" />
                            </abp-column>
                            <abp-column>
                                <abp-input asp-for="@Model.Input.Number" />
                            </abp-column>
                        </abp-row>
                        <abp-row>
                            <abp-column size-md="_6">
                                <abp-input asp-for="@Model.Input.ValidFromDate" />
                                <abp-input asp-for="@Model.ValidFromDateHidden" />
                            </abp-column>
                            <abp-column size-md="_6">
                                <abp-input asp-for="@Model.Input.ValidToDate" />
                                <abp-input asp-for="@Model.ValidToDateHidden" />
                            </abp-column>
                        </abp-row>
                        <abp-row>
                            <abp-column size-md="_6">
                                <abp-input asp-for="@Model.Input.DecimalPlaces" />
                            </abp-column>
                            <abp-column size-md="_6">
                                <div class="form-group">
                                    <label>@L["ProductUnitName"].Value</label>
                                    <select id="Input_UnitId_Select" class="form-control"></select>
                                    @Html.ValidationMessageFor(x => x.Input.UnitId, "", new { @class = "text-danger" })
                                </div>
                                <abp-input asp-for="@Model.Input.UnitId" type="hidden" value=""></abp-input>
                            </abp-column>
                        </abp-row>
                        <abp-row>
                            <abp-column size-md="_12">
                                <div class="form-group">
                                    <label>@L["ProductDescription"].Value</label>
                                    <textarea asp-for="@Model.Input.Description" class="form-control" rows="4"></textarea>
                                </div>
                            </abp-column>
                        </abp-row>
                    </abp-tab>
                    <abp-tab title="Field Service">
                        <abp-row>
                            <abp-column size-md="_6">
                                <abp-card>
                                    <abp-card-header>
                                        General
                                    </abp-card-header>
                                    <abp-card-body>
                                        <abp-row>
                                            <abp-column size-md="_12">
                                                <abp-select asp-for="@Model.Input.FieldServiceProductType" />
                                            </abp-column>
                                        </abp-row>
                                        <abp-row>
                                            <abp-column size-md="_12">
                                                <abp-input asp-for="@Model.Input.ConvertToCustomerAsset" />
                                            </abp-column>
                                        </abp-row>
                                    </abp-card-body>
                                </abp-card>
                            </abp-column>
                            <abp-column size-md="_6">
                                <abp-card>
                                    <abp-card-header>Accounting</abp-card-header>
                                    <abp-card-body>
                                        <abp-row>
                                            <abp-column size-md="_12">
                                                <abp-input asp-for="@Model.Input.Taxable" />
                                            </abp-column>
                                        </abp-row>
                                        <abp-row>
                                            <abp-column size-md="_12">
                                                <abp-input asp-for="@Model.Input.CurrentCost" />
                                            </abp-column>
                                        </abp-row>
                                        <abp-row>
                                            <abp-column size-md="_12">
                                                <abp-input asp-for="@Model.Input.StandardCost" />
                                            </abp-column>
                                        </abp-row>
                                    </abp-card-body>
                                </abp-card>
                            </abp-column>
                        </abp-row>
                    </abp-tab>
                    <abp-tab title="Properties">
                        <abp-row>
                            <abp-column size-md="_12">
                                <abp-button id="NewProductPropertyButton"
                                            icon="plus"
                                            button-type="Primary"
                                            style="float:right"
                                            text="@L["NewProductProperty"].Value"
                                            onclick="window.location.href='/Products/CreateProductProperty?ProductId=@Model.Id'" />
                            </abp-column>
                        </abp-row>
                        <abp-row>
                            <abp-column size-md="_12">
                                <abp-table striped-rows="true" id="PropertiesTable"></abp-table>
                            </abp-column>
                        </abp-row>
                    </abp-tab>
                </abp-tabs>
            </abp-column>
        </abp-row>
    </abp-card-body>
    <abp-input asp-for="@Model.Input.ConcurrencyStamp" type="hidden" />
</form>
