@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using KeyFactor.Carbone.Configuration.Localization
@using Microsoft.Extensions.Localization
@inject IThemeManager ThemeManager
@inject IStringLocalizer<ConfigurationResource> L

@{
    Layout = ThemeManager.CurrentTheme.GetLayout(StandardLayouts.Application);
}
@section scripts
{
    <style type="text/css" src="~/Pages/Shared/_Layout.css"></style>
    <script type="text/javascript" src="~/Pages/Shared/_Layout.js"></script>
    @RenderSection("scripts", false)
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/libs/select2/css/select2-extensions.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@L[@ViewData["Title"].ToString()]</title>
</head>
<body>
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@L[@ViewData["Title"].ToString()]</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-right">
                    <abp-button id="GoBackButton"
                                icon="arrow-circle-left"
                                onclick="window.location.href='@ViewData["GoBackUrl"]'" />
                    @if(@ViewData["AddNewUrl"] != null)
                    {
                        <abp-button id="NewProductButton"
                                icon="plus"
                                onclick="window.location.href='@ViewData["AddNewUrl"]'" />
                    }
                    <abp-button id="SaveProductButton"
                                icon="save"
                                onclick="submitForm()" />
                </abp-column>
            </abp-row>
        </abp-card-header>
        @RenderBody()
    </abp-card>
</body>
</html>
