@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using KeyFactor.Carbone.Configuration.Localization
@using Microsoft.Extensions.Localization
@inject IThemeManager ThemeManager
@inject IStringLocalizer<ConfigurationResource> L

@{
    Layout = ThemeManager.CurrentTheme.GetLayout(StandardLayouts.Application);
}
@section scripts
{
    @RenderSection("scripts", false)
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@L[@ViewData["Title"].ToString()]</title>
</head>
<body>
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@L[@ViewData["Title"].ToString()]</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-right">
                    <abp-button id="GoBackButton"
                                icon="arrow-circle-left"
                                onclick="window.location.href='@ViewData["GoBackUrl"]'" />
                    <abp-button id="NewProductButton"
                                icon="plus"
                                onclick="window.location.href='@ViewData["AddNewUrl"]'" />
                    <abp-button id="SaveProductButton"
                                icon="save"
                                onclick="$('#mainForm').submit();" />
                </abp-column>
            </abp-row>
        </abp-card-header>
        @RenderBody()
    </abp-card>
</body>
</html>
