@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using KeyFactor.Carbone.Configuration.Localization
@using Microsoft.Extensions.Localization
@inject IThemeManager ThemeManager
@inject IStringLocalizer<ConfigurationResource> L

@{
    Layout = ThemeManager.CurrentTheme.GetLayout(StandardLayouts.Application);
}
@section scripts
{
    <script type="text/javascript" src="~/Pages/Shared/_Layout.js"></script>
    @RenderSection("scripts", false)
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/libs/jquery-validation/css/jquery.validate.css"/>
    <link rel="stylesheet" href="/libs/select2/css/select2-extensions.css" />
    <link rel="stylesheet" href="~/Pages/Shared/_Layout.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@L[@ViewData["Title"].ToString()]</title>
</head>
<body>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
        </svg>
        <a id="validationSummary" style="display:none;">
            <div class="alert alert-danger d-flex" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:" style="margin-right:0.5em"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div id="validationErrors">
                </div>
            </div>
        </a>
    </div>
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@L[@ViewData["Title"].ToString()]</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-right">
                    <abp-button id="GoBackButton"
                                icon="arrow-circle-left"
                                onclick="window.location.href='@ViewData["GoBackUrl"]'" />
                    @if (@ViewData["AddNewUrl"] != null)
                    {
                        <abp-button id="NewProductButton"
                                    icon="plus"
                                    onclick="window.location.href='@ViewData["AddNewUrl"]'" />
                    }
                    <abp-button id="SaveProductButton"
                                icon="save"
                                onclick="submitForm()" />
                </abp-column>
            </abp-row>
        </abp-card-header>
        @RenderBody()
    </abp-card>
</body>
</html>
